

div * {vertical-align: middle;}
/*toolbar*/
.normal_button {
	padding:2px;
	border-style:solid;
	border-width:2px;
	border-color:black;
	background-color:#009900;
	}

.pressed_button {
	padding:2px;
	border-style:solid;
	border-width:2px;
	border-color:#009900;
	background-color:#006600;
	}


#webtronics_main_window{

	font-family:verdana,arial;
	font-size:10pt;

	background-color:#009900;
	border:2px solid #009900;

}

#webtronics_toolbar{
	height:40px;
	border-style:solid;
	border-width:2px;
	border-color:#009900;
	}


#webtronics_buttons{
	float:left;
	height:40px;
}

#webtronics_settings{
	float:left;
	height:40px;
}

/*
#webtronics_value_box{
	float:left;
	height:40px;
	display:none;
}
*/
/*popups*/
#webtronics_properties_form{
		display:none; 
      position:absolute; 
      left:200px; 
      top:10px; 
      border-style: solid; 
		border-radius:20px;
      background-color:inherit; 
      padding: 5px;
}
#webtronics_parts_box{
		display:none; 
      position:absolute; 
      left:200px; 
      top:10px; 
      border-style: solid; 
		border-radius:20px;
      background-color:inherit; 
      padding: 5px;
      }
#webtronics_chips_box{
	display:none; 
	position:absolute; 
	left:200px; 
	top:10px; 
	border-radius:20px;
	border-style: solid; 
	background-color:inherit; 
	padding: 5px;
  }
#webtronics_add_text{ 
	display:none; 
	position:absolute; 
	left:200px; 
	top:10px; 
	border-radius:20px;
	border-style: solid; 
	background-color:inherit; 
	padding: 5px;      
}
#webtronics_open_text{ 
	display:none; 
	position:absolute; 
	left:200px; 
	top:10px; 
	border-style: solid; 
	background-color:inherit; 
	padding: 5px;
  }


/*display areas*/

#webtronics_diagram_area{	
	vertical-align: middle;
	width:auto;
	height:auto;
	/*overflow:scroll;*/
	overflow:hidden;
	cursor:crosshair;
	position:relative;
	border:1px solid black;
	background-color:blue;
	
}
#webtronics_part_display{
	padding:5px;
	margin-bottom:5px;
	background-color:#ffffff;
	border:1px solid black;
	}	
#webtronics_chip_display{
	width:300px;
	height:300px;
	border:1px solid black;
	background-color:#ffffff
  } 



#webtronics_status_bar{
	 width:auto;
	 height:auto ;
	 background-color:inherit;
 }
 

/*
 this is the open file selector.
it is transparent above the open file button
*/   
#webtronics_open_file{ 
	filter: alpha(opacity=0);
 	opacity: 0;
	overflow:hidden;
	position:absolute; 
	left:200px; 
	top:10px; 
	border-style: none; 
	background-color:inherit; 
	padding: none;   
   }   

#webtronics_open_file_selector{
	font-size:30pt;
}
 
  
/*menu style*/
div.contextmenu {
        position: absolute;
        top: 0;
        left: 0;
       /* font-family: verdana;*/
}
div.contextmenu a {
        display: block;
        text-decoration: none;
        cursor: default;
        outline: none;
        font-size: 11px;
}
.contextmenu .separator {
        height: 1px;
        padding: 0;
        overflow: hidden;
        display: block;
        font-size: 1px;
}
.contextmenu ul, .contextmenu li {
        margin: 0;
        padding: 0;
        list-style: none;
}
.contextmenu li {
        list-style-position: outside;
}
.contextmenu {
        width: 12em;
        background: #F4F5EB;
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
        border-right: 1px solid #666;
        border-bottom: 1px solid #666;
        padding: 2px 0;
}
.contextmenu a {
        color: #555;
        padding: 4px 15px;
        margin: 0 2px;
}
.contextmenu a:hover {
        background: #006;
        color: #fff;
}
.contextmenu a.disabled {
        color: #bbb;
}
.contextmenu a.disabled:hover {
        background: #F4F5EB;
        color: #bbb;
}
.contextmenu .separator {
        border-bottom: 1px solid #fff;
        background: #999;
        margin: 2px 4px;
}
  

